### Functions

In [97]:
import pandas as pd

In [139]:
# импорт файлов для работы
M = pd.read_csv('D:/Нетология/Проекты/Movies/source/movies.csv')
R = pd.read_csv('D:/Нетология/Проекты/Movies/source/ratings.csv')

In [144]:
# объединяем две таблицы для работы
movies_rating = M.merge(R, on='movieId', how='left')

In [145]:
movies_rating

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,4.0,4.0,1.113766e+09
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10.0,5.0,9.488858e+08
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,14.0,4.5,1.442169e+09
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15.0,4.0,1.370810e+09
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,22.0,4.0,1.237623e+09
...,...,...,...,...,...,...
27757648,193878,Les tribulations d'une caissière (2011),Comedy,176871.0,2.0,1.537875e+09
27757649,193880,Her Name Was Mumu (2016),Drama,81710.0,2.0,1.537886e+09
27757650,193882,Flora (2017),Adventure|Drama|Horror|Sci-Fi,33330.0,2.0,1.537891e+09
27757651,193886,Leal (2018),Action|Crime|Drama,206009.0,2.5,1.537918e+09
27757652,193886,Leal (2018),Action|Crime|Drama,226715.0,4.0,1.537916e+09

In [146]:
# группируем данные и получаем средний рейтинг
movies_rating_mean = movies_rating.groupby(['movieId','title','genres']).rating.mean().to_frame().reset_index()

In [148]:
movies_rating_mean

,movieId,title,genres,rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.886649
1,2,Jumanji (1995),Adventure|Children|Fantasy,3.246583
2,3,Grumpier Old Men (1995),Comedy|Romance,3.173981
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.874540
4,5,Father of the Bride Part II (1995),Comedy,3.077291
...,...,...,...,...
58093,193876,The Great Glinka (1946),(no genres listed),3.000000
58094,193878,Les tribulations d'une caissière (2011),Comedy,2.000000
58095,193880,Her Name Was Mumu (2016),Drama,2.000000
58096,193882,Flora (2017),Adventure|Drama|Horror|Sci-Fi,2.000000
58097,193886,Leal (2018),Action|Crime|Drama,3.250000

In [149]:
def movie_class(data):
    """
    Функция для определения уровня рейтинга для фильма из списка
    """
    if data <=2:
        return 'low'
    elif 2 < data <= 4:
        return 'middle'
    return 'high'

In [150]:
# добавляем в таблицу колонку с уровнем рейтинга
movies_rating_mean['level'] = movies_rating_mean.rating.apply(movie_class)

In [152]:
movies_rating_mean

,movieId,title,genres,rating,level
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.886649,middle
1,2,Jumanji (1995),Adventure|Children|Fantasy,3.246583,middle
2,3,Grumpier Old Men (1995),Comedy|Romance,3.173981,middle
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.874540,middle
4,5,Father of the Bride Part II (1995),Comedy,3.077291,middle
...,...,...,...,...,...
58093,193876,The Great Glinka (1946),(no genres listed),3.000000,middle
58094,193878,Les tribulations d'une caissière (2011),Comedy,2.000000,low
58095,193880,Her Name Was Mumu (2016),Drama,2.000000,low
58096,193882,Flora (2017),Adventure|Drama|Horror|Sci-Fi,2.000000,low
58097,193886,Leal (2018),Action|Crime|Drama,3.250000,middle

In [56]:
years = list(range(1900,2023))

In [173]:
def production_year(data):
    """
    Функция для выделения из текста года производства фильма
    """
    for i in years:
        if str(i) in data:
            return int(i)
    return 'Null'

In [174]:
# добавление колонки с годом производства
movies_rating_mean['production_year'] = movies_rating_mean.title.apply(production_year)
movies_result = movies_rating_mean

In [169]:
movies_result

,movieId,title,genres,rating,level,production_year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.886649,middle,1995.0
1,2,Jumanji (1995),Adventure|Children|Fantasy,3.246583,middle,1995.0
2,3,Grumpier Old Men (1995),Comedy|Romance,3.173981,middle,1995.0
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.874540,middle,1995.0
4,5,Father of the Bride Part II (1995),Comedy,3.077291,middle,1995.0
...,...,...,...,...,...,...
58093,193876,The Great Glinka (1946),(no genres listed),3.000000,middle,1946.0
58094,193878,Les tribulations d'une caissière (2011),Comedy,2.000000,low,2011.0
58095,193880,Her Name Was Mumu (2016),Drama,2.000000,low,2016.0
58096,193882,Flora (2017),Adventure|Drama|Horror|Sci-Fi,2.000000,low,2017.0
58097,193886,Leal (2018),Action|Crime|Drama,3.250000,middle,2018.0

In [166]:
def movie_old(data):
    """
    Функция для распределения фильмов по старости выхода в прокат
    """
    if 2023 > data >= 2017:
        return 'new'
    elif 2000 <= data < 2017:
        return '20th century'
    elif 1960 <= data < 2000:
        return 'old'
    elif 1900 <= data < 1960:
        return 'retro'
    return 'Null'

In [170]:
# добавление в таблицу колонки с уровнем старости выхода в прокат фильма
movies_result['old'] = movies_result.production_year.apply(movie_old)

In [175]:
movies_result

,movieId,title,genres,rating,level,production_year,old
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.886649,middle,1995,old
1,2,Jumanji (1995),Adventure|Children|Fantasy,3.246583,middle,1995,old
2,3,Grumpier Old Men (1995),Comedy|Romance,3.173981,middle,1995,old
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.874540,middle,1995,old
4,5,Father of the Bride Part II (1995),Comedy,3.077291,middle,1995,old
...,...,...,...,...,...,...,...
58093,193876,The Great Glinka (1946),(no genres listed),3.000000,middle,1946,retro
58094,193878,Les tribulations d'une caissière (2011),Comedy,2.000000,low,2011,20th century
58095,193880,Her Name Was Mumu (2016),Drama,2.000000,low,2016,20th century
58096,193882,Flora (2017),Adventure|Drama|Horror|Sci-Fi,2.000000,low,2017,new
58097,193886,Leal (2018),Action|Crime|Drama,3.250000,middle,2018,new

In [177]:
movies_result.to_csv('movies_result')